%h2="Listing Images"

%table.table
  %thead
    %tr
      %th="Announce"
      %th="File name"
      %th="Image"
      %th= "Links"
  %tbody
    - for image <- @images do
      %tr
        %td= image.announce_id
        %td= image.file.file_name
        %td
          = img_tag Boncoin.AnnounceImage.url({image.file, image}, :original)
        %td
          = link "Show", to: image_path(@conn, :show, image), class: "btn btn-default btn-xs"
          -# = link "Edit", to: image_path(@conn, :edit, image), class: "btn btn-default btn-xs"
          = link "Delete", to: image_path(@conn, :delete, image), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"
          = link "New", to: image_path(@conn, :new)
