.flashes
  - if get_flash(@conn, :info) != nil do
    .alert.alert-dismissible.fade.show.bg-info{role: "alert"}
      = display_alert(get_flash(@conn, :info))
      %button.close{type: "button", data-dismiss: "alert", aria-label: "Close"}
        %span.text-white{aria-hidden: "true"}= "x"

  - if get_flash(@conn, :alert) != nil do
    -# .alert-danger.m-0{role: "alert"}
    -#   %p.m-0= text_to_html(convert_zawgyi(get_flash(@conn, :alert)), [attributes: [class: "p-3"]])
    .alert.alert-dismissible.fade.show.bg-danger{role: "alert"}
      = display_alert(get_flash(@conn, :alert))
      %button.close{type: "button", data-dismiss: "alert", aria-label: "Close"}
        %span.text-white{aria-hidden: "true"}= "x"

  - if get_flash(@conn, :success) != nil do
    -# .alert-success.m-0{role: "alert"}
    -#   %p.m-0= text_to_html(convert_zawgyi(get_flash(@conn, :success)), [attributes: [class: "p-3"]])
    .alert.alert-dismissible.fade.show.bg-success{role: "alert"}
      = display_alert(get_flash(@conn, :success))
      %button.close{type: "button", data-dismiss: "alert", aria-label: "Close"}
        %span.text-white{aria-hidden: "true"}= "x"
