-# Family buttons
.row.d-flex.justify-content-center.m-0
  - for family <- @conn.assigns.select_menus.familys do
    .col.m-0.p-0
      %label.bg-white.text-primary.family-selector{class: "#{show_family_selector(@conn, family)}", data-target: "#{family.id}"}
        %i{class: "#{insert_icon_classes(family)}"}
        .triangle.d-none{id: "triangle_#{family.id}"}
  .col.m-0.p-0
    -# Clear filters
    - link to: Routes.public_offers_path(@conn, :public_index, search: %{division_id: "#{@conn.assigns.search_params.division_id}", township_id: "#{@conn.assigns.search_params.township_id}"}) do
      %label.bg-white.text-primary.family-selector{class: "#{show_family_selector(@conn, nil)}"}
        = convert_zawgyi(gettext("No filter"))

-# Category buttons
- for family <- @conn.assigns.select_menus.familys do
  .row.d-none.bg-white.category-selector.m-0{id: "searchFamily_#{family.id}"}
    .col-12.my-3.text-left
      -# Button for searched family
      - link to: Routes.public_offers_path(@conn, :public_index, search: %{family_id: "#{family.id}", division_id: "#{@conn.assigns.search_params.division_id}", township_id: "#{@conn.assigns.search_params.township_id}"}), class: "btn #{show_category_selector(@conn, family, nil)} mr-3" do
        %span
          %i.mr-1{class: "#{insert_icon_classes(family)}"}
          = convert_zawgyi(gettext("All %{title}", title: convert_lg_title(family, "title")))
    .col-12.text-left.mb-3
      - for category <- family.categorys do
        -# Button for searched category
        - link to: Routes.public_offers_path(@conn, :public_index, search: %{category_id: "#{category.id}", division_id: "#{@conn.assigns.search_params.division_id}", township_id: "#{@conn.assigns.search_params.township_id}"}), class: "btn #{show_category_selector(@conn, family, category)} my-1" do
          %span
            %i.mr-1{class: "#{insert_icon_classes(category)}"}
            = convert_zawgyi(category, "title")
