%div{id: "navbarDismiss"}
  %i.fas.fa-times-circle.text-white
%nav.bg-white{id: "sidebar"}
  - link to: Routes.root_path(@conn, :welcome), class: "brand-logo text-white" do
    .sidebar-header.bg-primary.text-secondary.border-bottom.border-dark.p-3
      = img_tag "#{img_url_tag(@conn, 'logo_colour.png')}", class: "w-100"
  %div{id: "mainMenu"}
    %ul.list-unstyled.components
      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#menuDivision", data-parent: "#mainMenu", data-toggle: "collapse", aria-expanded: "false"}
        %i.width-20.fa.fa-map-marker-alt
        %span= convert_zawgyi(gettext("Where do you search ?"))
      %ul.collapse.list-unstyled.collapse-level1{id: "menuDivision"}
        - link to: Routes.public_offers_path(@conn, :public_index, search: %{division_id: "", township_id: ""}), class: "" do
          %li.slide-menu.text-dark.border-bottom.border-dark
            %i.width-20
            %span= convert_zawgyi(gettext("All Myanmar"))
        - for division <- @conn.assigns.select_menus.divisions do
          -# Nested parent
          %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#subMenuDivision_#{division.id}", data-parent="#subMenuDivision_#{division.id}", data-toggle: "collapse", aria-expanded: "false"}
            %i.width-20
            %span= convert_zawgyi(division, "title")
          -# Nested child
          %ul.collapse.list-unstyled.collapse-level2{id: "subMenuDivision_#{division.id}"}
            - link to: Routes.public_offers_path(@conn, :public_index, search: %{division_id: "#{division.id}", township_id: ""}) do
              %li.slide-menu.text-dark.border-bottom.border-dark
                %i.width-20
                %span= convert_zawgyi(gettext("All %{division_title}", division_title: convert_lg_title(division, "title")))
            - for township <- division.townships do
              - link to: Routes.public_offers_path(@conn, :public_index, search: %{division_id: "#{division.id}", township_id: "#{township.id}"}) do
                %li.slide-menu.text-dark.border-bottom.border-dark
                  %i.width-20
                  %span= convert_zawgyi(township, "title")

      - link to: Routes.user_path(@conn, :new_user_announce), class: "" do
        %li.slide-menu.text-dark.border-bottom.border-dark
          %i.width-20.fa.fa-edit
          %span= convert_zawgyi(gettext("Sell something"))

      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#languageSubmenu", data-toggle: "collapse", aria-expanded: "false"}
        = img_tag img_url_tag(@conn, "flags/1x1/#{@conn.assigns.flag}.svg"), class: "flag"
        %span= convert_zawgyi(gettext("Change language"))
      %ul.collapse.list-unstyled.collapse-level1{id: "languageSubmenu"}
        %a{href: "?locale=en"}
          %li.slide-menu.text-dark.border-bottom.border-dark
            = img_tag img_url_tag(@conn, "flags/1x1/en.svg"), class: "flag"
            %span{class: "#{test_lg(@conn.assigns.flag, 1)}"}= gettext("English")
        %a{href: "?locale=my"}
          %li.slide-menu.text-dark.border-bottom.border-dark{class: ""}
            = img_tag img_url_tag(@conn, "flags/1x1/my.svg"), class: "flag"
            %span{class: "#{test_lg(@conn.assigns.flag, 2)}"}= gettext("Myanmar (Unicode)")
        %a{href: "?locale=dz"}
          %li.slide-menu.text-dark.border-bottom.border-dark{class: ""}
            = img_tag img_url_tag(@conn, "flags/1x1/my.svg"), class: "flag"
            %span{class: "#{test_lg(@conn.assigns.flag, 3)}"}= gettext("Myanmar (Zawgyi)")

      - link to: Routes.main_path(@conn, :conversations), class: "" do
        %li.slide-menu.text-dark.border-bottom.border-dark
          %i.width-20.fas.fa-comments
          %span= convert_zawgyi(gettext("Receive notifications"))

      - link to: Routes.main_path(@conn, :conditions), class: "" do
        %li.slide-menu.text-dark.border-bottom.border-dark
          %i.width-20.fa.fa-balance-scale
          %span= convert_zawgyi(gettext("Conditions"))

      - link to: Routes.main_path(@conn, :about), class: "" do
        %li.width-20.slide-menu.text-dark.border-bottom.border-dark
          %i.width-20.fa.fa-building
          %span= convert_zawgyi(gettext("The company"))

      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#technicalSubmenu", data-toggle: "collapse", aria-expanded: "false"}
        %i.width-20.fa.fa-wrench
        %span= convert_zawgyi(gettext("Technical"))
      %ul.collapse.list-unstyled.collapse-level1{id: "technicalSubmenu"}
        - if check_admin(@conn.assigns[:current_user]) do
          - link to: Routes.main_path(@conn, :dashboard) do
            %li.slide-menu.text-dark.border-bottom.border-dark
              %i.width-20.fa.fa-code-branch
              %span= "#{Application.spec(:boncoin, :vsn)}"
          - link to: Routes.auth_path(@conn, :delete), method: :delete, class: "" do
            %li.slide-menu.text-dark.border-bottom.border-dark
              %i.width-20.fa.fa-sign-out-alt
              %span= convert_zawgyi(gettext("Log out"))
        - else
          - link to: Routes.auth_path(@conn, :request, "google"), class: "" do
            %li.slide-menu.text-dark.border-bottom.border-dark
              %i.width-20.fa.fa-user
              %span= convert_zawgyi(gettext("Log in"))
