%div{id: "navbarDismiss"}
  %i.fas.fa-times-circle.text-white
%nav.bg-white{id: "sidebar"}
  - link to: root_path(@conn, :welcome), class: "brand-logo text-white" do
    .sidebar-header.bg-primary.text-white
      %h3= "PawChaungKaung"
  %div{id: "mainMenu"}
    %ul.list-unstyled.components
      - link to: announce_path(@conn, :new), class: "" do
        %li.slide-menu.text-dark.border-bottom.border-dark
          %i.fa.fa-bullhorn
          %span= gettext "Sell something"

      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#menuDivision", data-parent: "#mainMenu", data-toggle: "collapse", aria-expanded: "false"}
        %i.fa.fa-map-marker-alt
        %span= gettext "Change location"
      %ul.collapse.list-unstyled.collapse-level1{id: "menuDivision"}
        - link to: public_offers_path(@conn, :public_index, search: %{division_id: "", township_id: ""}, old_search: @conn.assigns.search_params), class: "" do
          %li.slide-menu.text-dark.border-bottom.border-dark
            %i.fa.fa-
            %span= gettext "All Myanmar"
        - for division <- @conn.assigns.select_menus.divisions do
          -# Nested parent
          %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#subMenuDivision_#{division.id}", data-parent="#subMenuDivision_#{division.id}", data-toggle: "collapse", aria-expanded: "false"}
            %i.fa.fa-
            %span= LayoutView.convert_zawgyi(division, "title")
          -# Nested child
          %ul.collapse.list-unstyled.collapse-level2{id: "subMenuDivision_#{division.id}"}
            - link to: public_offers_path(@conn, :public_index, search: %{division_id: "#{division.id}", township_id: ""}, old_search: @conn.assigns.search_params) do
              %li.slide-menu.text-dark.border-bottom.border-dark
                %i.fa.fa-
                %span= gettext("All %{division_title}", division_title: LayoutView.convert_zawgyi(division, "title"))
            - for township <- division.townships do
              - link to: public_offers_path(@conn, :public_index, search: %{division_id: "#{division.id}", township_id: "#{township.id}"}, old_search: @conn.assigns.search_params) do
                %li.slide-menu.text-dark.border-bottom.border-dark
                  %i.fa.fa-
                  %span= LayoutView.convert_zawgyi(township, "title")

      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#languageSubmenu", data-toggle: "collapse", aria-expanded: "false"}
        = img_tag static_path(@conn, "/images/flags/1x1/#{@conn.assigns.flag}.svg"), class: "flag"
        %span= gettext "Change language"
      %ul.collapse.list-unstyled.collapse-level1{id: "languageSubmenu"}
        %a{href: "?locale=en"}
          %li.slide-menu.text-dark.border-bottom.border-dark
            = img_tag static_path(@conn, "/images/flags/1x1/#{"en"}.svg"), class: "flag"
            = gettext "English"
        %a{href: "?locale=my"}
          %li.slide-menu.text-dark.border-bottom.border-dark
            = img_tag static_path(@conn, "/images/flags/1x1/#{"my"}.svg"), class: "flag"
            = gettext "Myanmar (Unicode)"
        %a{href: "?locale=mr"}
          %li.slide-menu.text-dark.border-bottom.border-dark
            = img_tag static_path(@conn, "/images/flags/1x1/#{"my"}.svg"), class: "flag"
            = gettext "Myanmar (Zawgyi)"

      - link to: main_path(@conn, :conditions), class: "" do
        %li.slide-menu.text-dark.border-bottom.border-dark
          %i.fa.fa-balance-scale
          %span= gettext "Conditions"

      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#aboutSubmenu", data-toggle: "collapse", aria-expanded: "false"}
        %i.fa.fa-question-circle
        %span= gettext "About us"
      %ul.collapse.list-unstyled.collapse-level1{id: "aboutSubmenu"}
        - link to: main_path(@conn, :about), class: "" do
          %li.slide-menu.text-dark.border-bottom.border-dark
            %i.fa.fa-building
            %span= gettext "The company"
        - link to: main_path(@conn, :about), class: "" do
          %li.slide-menu.text-dark.border-bottom.border-dark
            %i.fa.fa-handshake
            %span= gettext "Work with us"
        - link to: main_path(@conn, :about), class: "" do
          %li.slide-menu.text-dark.border-bottom.border-dark
            %i.fa.fa-user-tie
            %span= gettext "Join us"

      %a.slide-menu.text-dark.border-bottom.border-dark.dropdown-toggle{href: "#technicalSubmenu", data-toggle: "collapse", aria-expanded: "false"}
        %i.fa.fa-wrench
        %span= gettext "Technical"
      %ul.collapse.list-unstyled.collapse-level1{id: "technicalSubmenu"}
        - if @conn.assigns[:current_user] do
          - link to: auth_path(@conn, :delete), method: :delete, class: "" do
            %li.slide-menu.text-dark.border-bottom.border-dark
              %i.fa.fa-sign-out-alt
              %span= gettext "Log out"
          %li.slide-menu.text-dark.border-bottom.border-dark
            %i.fa.fa-user-cog
            %span= "#{@conn.assigns.current_user.email}"
          - link to: main_path(@conn, :dashboard) do
            %li.slide-menu.text-dark.border-bottom.border-dark
              %i.fa.fa-code-branch
              %span= "#{Application.spec(:boncoin, :vsn)}"
        - else
          - link to: auth_path(@conn, :request, "google"), class: "" do
            %li.slide-menu.text-dark.border-bottom.border-dark
              %i.fa.fa-user
              %span= gettext "Log in"
