!!! 5
%html(lang="en")
  %head
    -# %meta(charset="utf-8")
    %meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
    -# %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    %meta(name="description" content="")
    %meta(name="author" content="PawChaunKaun")
    %title= "PawChaunKaun"
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    -# %link(rel="stylesheet" href='https://fonts.googleapis.com/icon?family=Material+Icons')
    -# %script(src='https://unpkg.com/knayi-myscript@latest/dist/knayi-myscript.min.js')

  %body.bg-light.side-bar-wrapper{data-js-view-name: "#{js_view_name(@conn, @view_template)}"}
    = render "_flashes.html", assigns
    = render "_sidebar.html", assigns
    - if @conn.request_path =~ "/admin/" == false do
      .add.add-full.col-12.d-none.d-lg-block.p-0
        = img_tag(static_path(@conn, "/images/backgrounds/myanmar_#{@conn.assigns.background_id}.jpg"))
      .add.add-left.col-lg-2.d-none.p-0
      .add.add-right.col-lg-2.d-none.p-0
      .content.container-fluid.px-0
        .row.no-gutters.align-items-center
          .main-wrapper.col-xs-12.col-lg-8.offset-lg-2.text-center.full-height.d-flex.flex.flex-column
            %header.header
              = render "header.html", assigns
            %main.container-fluid.flex-grow.my-4{role: "main", id: "main"}
              = render @view_module, @view_template, assigns
            %footer.footer
              = render "footer.html", assigns
    - else
      .content.container-fluid.px-0
        .row.no-gutters.align-items-center
          .col-12.text-center.full-height.d-flex.flex.flex-column
            %header.header
              = render "header.html", assigns
            %main.container-fluid.flex-grow.my-4{role: "main", id: "main"}
              = render @view_module, @view_template, assigns
            %footer.footer
              = render "footer.html", assigns
    .overlay

    -# = render_gon_script(@conn)
    %script(src='#{static_path(@conn, "/js/app.js")}')
    -# %div{id: "config", data-internal-api: "", data-cursor-after: "#{@conn.assigns.cursor_after}"}
    -# = raw(@conn.assigns.flash_messages)
    =# Drab.Client.run(@conn)
