.row.text-left.mt-3
  .col-12.mb-3
    %hr.d-block.d-sm-none
    %h5.text-left= LayoutView.convert_zawgyi(gettext("1. Fill your details"))
  .col-12
    .row.mb-3
      .col-8
        .input-group
          %span.input-group-prepend
            .input-group-text.bg-white
              %i.fa.fa-phone
          = text_input @u, :phone_number, class: "form-control", maxlength: "11", placeholder: LayoutView.convert_zawgyi(gettext("Main phone number"))
        %small.form-text.text-muted{id: "phone_helper"}= LayoutView.convert_zawgyi(gettext("Myanmar mobile only (09000000000)"))
      .col-4.pl-0
        %button.btn.btn-secondary.text-primary.font-weight-bold.btn-block.m-0{id: "btn_validate_number", data-item-id: ""}= "OK"
        %button.h-100.btn.btn-primary.font-s-9.btn-block.m-0.d-none{id: "btn_change_number", data-item-id: ""}= LayoutView.convert_zawgyi(gettext("change"))

  .col-12.collapse.collapsible_form_bot
    -# Viber number field
    .form-group{id: "field-viber-number"}
      .input-group
        %span.input-group-prepend
          .input-group-text.bg-transparent
            %i.fab.fa-viber
        = text_input @u, :viber_number, class: "form-control", readonly: true

    -# Username field
    .form-group
      .input-group
        %span.input-group-prepend
          .input-group-text.bg-transparent
            %i.fa.fa-user
        = text_input @u, :nickname, class: "form-control", readonly: true

    -# Bot description
    .form-group
      .input-group
        %span.input-group-prepend
          .input-group-text.bg-transparent
            %i.fas.fa-comments
        = text_input @u, :viber_linked, class: "form-control", readonly: true, value: LayoutView.convert_zawgyi(gettext("You are linked by Viber"))
        = text_input @u, :messenger_linked, class: "form-control", readonly: true, value: LayoutView.convert_zawgyi(gettext("You are linked by Messenger"))

    .col-xs-12
      - link to: Routes.main_path(@conn, :conversations), class: "btn btn-outline-info btn-block m-0 d-inline-flex justify-content-center align-items-center" do
        %span= LayoutView.convert_zawgyi(gettext("change details"))

    -# Bot options
    .form-group{id: "btn-bot"}
      %small.form-text.text-muted= LayoutView.convert_zawgyi(gettext("Please choose how PawChaungKaung can contact you (this conversation will be private)"))
      .input-group.mt-2
        .col-6.pl-0
          - if Browser.mobile?(@conn) do
            %a.btn.btn-block.btn-viber-outline{href: "viber://pa/info?uri=pawchaungkaung_en"}
              %i.fab.fa-viber
              %span= LayoutView.convert_zawgyi(gettext("Send me notifications by Viber"))
          - else
            - link to: Routes.main_path(@conn, :conversations), class: "btn btn-block btn-viber-outline", target: "_blank" do
              %i.fab.fa-viber
              %span= LayoutView.convert_zawgyi(gettext("Send me notifications by Viber"))
        .col-6.pr-0
          - link to: Routes.main_path(@conn, :conversations), class: "btn btn-block btn-messenger disabled", target: "_blank" do
            %i.fab.fa-facebook-messenger
            %span= LayoutView.convert_zawgyi(gettext("Send me notifications by Messenger"))
