%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: Routes.main_path(@conn, :dashboard), class: "text-primary"
    %li.breadcrumb-item.active{aria-current: "page"}= "Users"

.row.my-3
  .col-xs-12.col-sm-6.text-left
    %span= "Logged in as"
    %span.text-primary= "#{@conn.assigns.current_user.email}"
  -# .col-xs-12.col-sm-6.text-right
  -#   = link "New USer", to: Routes.user_path(@conn, :new), class: "btn btn-outline-info btn-sm"

.table-responsive
  %table.table.table-hover
    %caption= "Users"
    %thead
      %tr
        %th= "ID"
        %th= "Active"
        %th= "Language"
        %th
          .d-none.d-sm-block= "role"
        %th= "Nickname"
        %th= "Phone number"
        %th
          .d-none.d-sm-block= "Viber number"
        %th
          .d-none.d-sm-block= "Email"
        %th
          .d-none.d-sm-block= "Bot"
        %th
          .d-none.d-sm-block= "PSID"
        %th
          .d-none.d-sm-block= "Status"
        %th= "Partner"
        %th= "Pending"
        %th= "Online"
        %th= "Closed"
        %th
          .d-none.d-sm-block= "Actions"
    %tbody
      - for user <- @users do
        %tr
          %td= user.id
          %th= LayoutView.icon_active(user.active)
          %td= img_tag img_url_tag(@conn, "flags/1x1/#{user.language}.svg"), class: "flag-small"
          %td
            .d-none.d-sm-block
              = user.role
          %td= user.conversation.nickname
          %td= user.phone_number
          %td
            .d-none.d-sm-block
              = user.viber_number
          %td
            .d-none.d-sm-block
              = user.email
          %td
            .d-none.d-sm-block
              = user.conversation.bot_provider
          %td
            %a.btn.btn-sm.btn-outline-info{tabindex: "0", role: "button", data-toggle: "popover", data-trigger: "focus", title: "psid", data-placement: "top", data-content: "#{user.conversation.psid}"}
              %i.fas.fa-eye
          %td
            = LayoutView.icon_active(user.conversation.active)
          %td
            - if user.embassador == true do
              - link to: Routes.user_path(@conn, :embassador, user), class: "btn btn-outline-info btn-sm" do
                %i.fas.fa-graduation-cap
          %td= Enum.count(user.announces, &(&1.status == "PENDING"))
          %td= Enum.count(user.announces, &(&1.status == "ONLINE"))
          %td= Enum.count(user.announces, &(&1.status == "CLOSED"))
          %td
            .d-none.d-sm-block
              = link "Edit", to: Routes.user_path(@conn, :edit, user), class: "btn btn-outline-info btn-sm"
              - unless (@conn.assigns.current_user.id == user.id) || (user.role == "GUEST") do
                = link "Delete", to: Routes.user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger btn-sm"
