%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: main_path(@conn, :dashboard)
    %li.breadcrumb-item.active{aria-current: "page"}= "Users"

.row.my-3
  .col-xs-12.col-sm-6.text-left
    %span= "Logged in as"
    %span.text-primary= "#{@conn.assigns.current_user.email}"
  .col-xs-12.col-sm-6.text-right
    -# = link "View Divisions", to: division_path(@conn, :index), class: "btn btn-outline-info btn-sm"
    = link "New USer", to: user_path(@conn, :new), class: "btn btn-outline-info btn-sm"

.table-responsive
  %table.table.table-hover
    %caption= "Users"
    %thead
      %tr
        %th= "ID"
        %th= "role"
        %th= "Phone number"
        %th= "Nickname"
        %th= "Email"
        %th= "Language"
        %th= "Password"
        %th= "Bot provider"
        %th= "Bot status"
        %th= "Bot ID"
        %th= "Nb offers"
        %th= "Actions"
    %tbody
      - for user <- @users do
        %tr
          %td= user.id
          %td= user.role
          %td= user.phone_number
          %td= user.nickname
          %td= user.email
          %td= img_tag static_path(@conn, "/fonts/#{user.language}.svg"), class: "flag-small"
          %td= user.member_psw
          %td= user.bot_provider
          %td= user.bot_active
          %td= user.bot_id
          %td= Kernel.length(user.announces)
          %td
            - unless (@conn.assigns.current_user.id == user.id) || (user.role == "GUEST") do
              = link "Delete", to: user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger btn-sm"
