.card.mb-4.bg-secondary
  .card-body.text-left
    %p.font-s-9.text-white= LayoutView.convert_zawgyi(gettext("Please note that your are acting on your own..."))
    %p.font-s-9.text-white.m-0
      = LayoutView.convert_zawgyi(gettext("For more details please read our"))
      - link to: main_path(@conn, :conditions), target: "_blank" do
        %span.text-primary.font-weight-bold= LayoutView.convert_zawgyi(gettext("terms and conditions."))
      = LayoutView.convert_zawgyi(gettext("For more details... (burmese end)"))

- form_for @changeset, user_path(@conn, :create_announce), fn u ->
  = inputs_for u, :announces, fn a ->
    .row
      .col-xs-12.col-sm-6.order-xs-1.my-3
        = render "_details_form.html", conn: @conn, u: u
      .col-xs-12.col-sm-6.order-xs-2.my-3.collapse.collapsible_form_offer
        = render BoncoinWeb.AnnounceView, "_describe_offer.html", conn: @conn, a: a
      .col-xs-12.col-sm-6.order-xs-3.order-sm-4.my-3.collapse.collapsible_form_offer
        .form-group
          .input-group
            %span.input-group-prepend
              .input-group-text.bg-transparent
                %i.fa.fa-edit
            = textarea a, :description, class: "form-control", rows: "8", maxlength: "200", autocomplete: "nope", placeholder: gettext("Describe your offer (size, dimensions, condition, scratches, date of buy, ...)")
      .col-xs-12.col-sm-6.order-xs-4.order-sm-3.my-3.collapse.collapsible_form_offer
        = render BoncoinWeb.AnnounceView, "_select_photos.html"

    .row.my-3.collapse.collapsible_form_offer
      .col-12
        %hr.d-block.d-sm-none
        .form-group.form-check
          %label.form-check-label
            = checkbox a, :conditions, class: "form-check-input", type: "radio"
            = LayoutView.convert_zawgyi(gettext("I understand and agree to "))
            - link to: main_path(@conn, :conditions), target: "_blank" do
              %span.text-secondary.font-weight-bold= LayoutView.convert_zawgyi(gettext("conditions"))
            = LayoutView.convert_zawgyi(gettext("I understand and agree to (burmese end)"))
      .col-xs-12.col-sm-6.offset-sm-3
        .form-group
          - submit class: "btn btn-primary text-secondary font-weight-bold btn-block btn-lg mt-3" do
            = LayoutView.convert_zawgyi(gettext("Submit your offer"))

  <% end %>
