%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: Routes.main_path(@conn, :dashboard), class: "text-secondary"
    %li.breadcrumb-item.active{aria-current: "page"}= "Townships"

.text-right
  = link "View Divisions", to: Routes.division_path(@conn, :index), class: "btn btn-outline-info btn-sm"
  = link "New Township", to: Routes.township_path(@conn, :new), class: "btn btn-outline-info btn-sm"

.table-responsive
  %table.table.table-hover
    %caption= "Townships"
    %thead
      %tr
        %th= "ID"
        %th= "Township"
        %th= "Title EN"
        %th= "Title MY"
        %th= "Active"
        %th= "Latitude"
        %th= "Longitude"
        %th= "Nb sellers"
        %th= "Nb visitors / day"
        %th= "Nb offers"
        %th= "Actions"
    %tbody
      - for township <- @townships do
        %tr
          %td= township.id
          %td= township.division.title_en
          %td= township.title_en
          %td= township.title_my
          %td= LayoutView.icon_active(township.active)
          %td= "-"
          %td= "-"
          %td= "-"
          %td= "-"
          %td= "-"
          %td
            = link "Edit", to: Routes.township_path(@conn, :edit, township), class: "btn btn-outline-info btn-sm"
            = link "Delete", to: Routes.township_path(@conn, :delete, township), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger btn-sm"
