%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: main_path(@conn, :dashboard), class: "text-secondary"
    %li.breadcrumb-item.active{aria-current: "page"}= "Familys"

.text-right
  = link "View Categories", to: category_path(@conn, :index), class: "btn btn-outline-info btn-sm"
  = link "New Family", to: family_path(@conn, :new), class: "btn btn-outline-info btn-sm"

.table-responsive
  %table.table.table-hover
    %caption= "Familys"
    %thead
      %tr
        %th= "ID"
        %th= "Rank"
        %th= "Title EN"
        %th= "Title MY"
        %th= "Icon"
        %th= "Active"
        %th= "Nb sellers"
        %th= "Nb visitors / day"
        %th= "Nb offers"
        %th= "Actions"
    %tbody
      - for family <- @familys do
        %tr
          %td= family.id
          %td= family.rank
          %td= family.title_en
          %td= family.title_my
          %td
            %p{class: "#{LayoutView.insert_icon_classes(family)}"}
          %td= LayoutView.icon_active(family.active)
          %td= "sellers"
          %td= "visitors"
          %td= "offers"
          %td
            = link "Edit", to: family_path(@conn, :edit, family), class: "btn btn-outline-primary btn-sm"
            = link "Delete", to: family_path(@conn, :delete, family), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger btn-sm"
