- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p= "Oops, something went wrong! Please check the errors below."

  .row
    .col-xs-12.col-sm-6.offset-sm-3
      .card
        .card-body
          .form-group
            .input-group
              .input-group-prepend
                = label f, :family_id, class: "input-group-text"
              = select f, :family_id, @familys, class: "select custom-select", id: "category_family_id"

          .form-group
            .input-group
              = text_input f, :title_en, class: "form-control", autocomplete: "nope", placeholder: gettext("title EN")
            = error_tag f, :title_en

          .form-group
            .input-group
              = text_input f, :title_my, class: "form-control", placeholder: gettext("title MY")
            = error_tag f, :title_my

          .form-group
            .input-group
              = text_input f, :rank, class: "form-control", placeholder: gettext("rank")
            = error_tag f, :rank

          .form-group
            .input-group
              .input-group-prepend
                %span.input-group-text= "FA icon code"
              = text_input f, :icon, class: "form-control"
            = error_tag f, :icon

          .form-group
            .input-group
              .input-group-prepend
                %span.input-group-text= "FA icon type"
              = text_input f, :icon_type, class: "form-control"
              = error_tag f, :icon_type

          .form-group
            %span.switch.switch-sm
              = checkbox f, :active, class: "switch", id: "active"
              = label f, :active, class: "control-label", for: "active"

          .form-group
            = submit "Submit", class: "btn btn-secondary"
          = link "Cancel", to: Routes.category_path(@conn, :index), class: "btn btn-outline-info"
