%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: main_path(@conn, :dashboard)
    %li.breadcrumb-item.active{aria-current: "page"}= "Categorys"

.text-right
  = link "View Familys", to: family_path(@conn, :index), class: "btn btn-outline-info btn-sm"
  = link "New Category", to: category_path(@conn, :new), class: "btn btn-outline-info btn-sm"

.table-responsive
  %table.table.table-hover
    %caption= "Categorys"
    %thead
      %tr
        %th= "ID"
        %th= "Category"
        %th= "Title EN"
        %th= "Title MY"
        %th= "Icon"
        %th= "Active"
        %th= "Nb sellers"
        %th= "Nb visitors / day"
        %th= "Nb offers"
        %th= "Actions"
    %tbody
      - for category <- @categorys do
        %tr
          %td= category.id
          %td= category.family.title_en
          %td= category.title_en
          %td= category.title_my
          %td
            %p.fa{class: "fa-#{category.icon}"}
          %td= LayoutView.icon_active(category.active)
          %td= "sellers"
          %td= "visitors"
          %td= "offers"
          %td
            = link "Edit", to: category_path(@conn, :edit, category), class: "btn btn-outline-primary btn-sm"
            = link "Delete", to: category_path(@conn, :delete, category), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-outline-danger btn-sm"
