.d-sm-none
  .flex-column
    .d-flex.align-items-center
      %i.width-30.mr-3.text-primary{class: "#{@icon}"}
      %h6.title.m-0.font-weight-bold.text-primary= @title
    %p.my-3= @text
.d-none.d-sm-block
  .d-flex.align-items-center
    %i.width-30.mr-3.text-primary{class: "#{@icon}"}
    .flex-column
      %h6.title.font-weight-bold.text-primary= @title
      %p.m-0= @text
