.row
  .col-12
    %h6.font-weight-bold.text-dark= @place.title_en
    %h6.font-weight-bold.text-dark
      %span.text-primary= @nb_announces
      = gettext " offers"
    %p.text-dark.font-italic= gettext "Please check before buying anything"

.row
  - for announce <- @announces do
    .col-xs-12.col-sm-6.my-3
      %a.btn-small-announce.small-announce{id: "small_announce_#{announce.id}", data-announce-id: "#{announce.id}", name: "small_announce_#{announce.id}", href: "#"}
        .card.card-offer
          .card-body
            .row
              .col-6
                = img_tag BoncoinWeb.AnnounceView.image_url(List.first(announce.images), :original), class: "img-small"
              .col-6.p-0
                .title
                  %h6.font-weight-bold.text-dark.m-0= announce.title
                  %h6.text-primary.m-0= BoncoinWeb.AnnounceView.show_price(announce.price, announce.currency)
                .details
                  %p.text-dark.m-0= announce.township.division.title_en
                  %p.text-dark.m-0= announce.township.title_en
                  %p.text-dark.m-0{style: "font-size:0.75em;"}= BoncoinWeb.AnnounceView.show_date(announce.parution_date, "en")

    .col-12.my-3.d-none.big-announce{id: "big_announce_#{announce.id}", name: "big_announce_#{announce.id}"}
      .card.card-offer
        %a.btn-big-announce.m-2{data-announce-id: "#{announce.id}", href: "#"}
          %i.fa.fa-times-circle.text-dark
        .card-body
          .row.mb-4
            .col-12
              %h6.font-weight-bold.text-dark.m-0= announce.title
              %h6.text-primary.m-0= BoncoinWeb.AnnounceView.show_price(announce.price, announce.currency)
          .row
            .col-xs-12.col-sm-6
              .carousel.slide.carousel-fade{id: "images_carousel", data-ride: "carousel"}
                .carousel-inner
                  - for image <- announce.images do
                    .carousel-item
                      = img_tag BoncoinWeb.AnnounceView.image_url(image, :original)
                %ol.carousel-indicators
                  - for i <- 1..length(announce.images) do
                    %li{data-target: "#caroussel_img", data-slide-to: "#{i}"}
                %a.expand-photo{href: "#{BoncoinWeb.AnnounceView.image_url(List.first(announce.images), :original)}", data-toggle: "lightbox", data-gallery: "gallery_announce_#{announce.id}", data-type: "image"}
                  %i.fa.fa-search-plus
                  - for image <- List.delete_at(announce.images, 0) do
                    %div{data-toggle: "lightbox", data-gallery: "gallery_announce_#{announce.id}", data-remote: "#{BoncoinWeb.AnnounceView.image_url(image, :original)}"}

              .details.my-3
                %p.m-0= BoncoinWeb.AnnounceView.show_location(announce.township, "en")
                %p.m-0
                  = gettext "Sold by"
                  %span.font-weight-bold= announce.user.nickname
                  -# = announce.user.viber_active
                  -# = announce.user.role
                %p.m-0{style: "font-size:0.75em;"}= BoncoinWeb.AnnounceView.show_date(announce.parution_date, "en")
            .col-xs-12.col-sm-6
              %p.mt-3.mt-sm-0.mb-3.description= announce.description
              .row
                .col-2
                  -# - link to: "#", class: "" do
                  -#   %i.fa.fa-bell.btn-icon{}
                  -#   %span= "Report abuse"
                .col-8
                  %h5.font-weight-bold.text-primary.d-none.btn-see-number{id: "number_#{announce.id}"}
                    -# = announce.user.phone_number
                    = String.slice(announce.user.phone_number, 0..1)
                    = " "
                    = String.slice(announce.user.phone_number, 2..4)
                    = " "
                    = String.slice(announce.user.phone_number, 5..7)
                    = " "
                    = String.slice(announce.user.phone_number, 8..10)
                  %button.btn.btn-outline-success.btn-block.btn-show-number{id: "btn_number_#{announce.id}", data-announce-id: "#{announce.id}", data-phone-number: "#{announce.user.phone_number}"}
                    = gettext "Get number"
                .col-2
                -#   = "Save"
