.row
  .col-12
    %h6.font-weight-bold.text-dark= LayoutView.convert_zawgyi(@place, "title")
    %h6.font-weight-bold.text-dark
      %span= @nb_announces
      - if @conn.assigns.category == "" do
        = gettext " offers"
      - else
        = gettext " offers for %{category}", category: LayoutView.convert_zawgyi(@conn.assigns.category, "title")
        %i.fa.ml-3{class: "fa-#{@conn.assigns.category.icon}"}
    %p.text-primary.font-italic= gettext "Please check before buying anything"

.row
  - for announce <- @announces do
    = render BoncoinWeb.AnnounceView, "_display_small.html", announce: announce
    = render BoncoinWeb.AnnounceView, "_display_big.html", announce: announce
