.row
  .col-12
    %h6.font-weight-bold.text-dark= LayoutView.convert_zawgyi(@place, "title")
    %h6.font-weight-bold.text-dark
      %span.text-primary= @nb_announces
      - if @conn.assigns.family_icon == "" do
        = gettext " offers"
      - else
        = gettext " offers for "
        %i.fa{class: "fa-#{@conn.assigns.family_icon}"}
    %p.text-dark.font-italic= gettext "Please check before buying anything"

.row
  - for announce <- @announces do
    = render BoncoinWeb.AnnounceView, "_display_small.html", announce: announce
    = render BoncoinWeb.AnnounceView, "_display_big.html", announce: announce
