%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: Routes.main_path(@conn, :dashboard), class: "text-secondary"

.row
  /------------- USERS -------------------------
  .col-xs-12.col-lg-6.my-4
    .card
      .card-header
        %h5.card-title= "Traffic on the website"
      .card-body
        .row
          .col-xs-12.col-sm-6
            %h5= "Sellers"
            %li= "nb users"
            %li= "nb viber"
            %li= "language"
          .col-xs-12.col-sm-6
            %h5= "Visitors"
            %li= "time on the site"
            %li= "device"
            %li= "nb clic"
            %li= "language"
      .card-footer
        = link "All users", to: Routes.user_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Purge users", to: Routes.user_path(@conn, :index), class: "btn btn-danger btn-small"

  /------------- OFFERS -------------------------
  .col-xs-12.col-lg-6.my-4
    .card
      .card-header
        %h5.card-title= "Offers online"
      .card-body
        .row
          .col-xs-12.col-sm-6
            %li= "nb pending"
            %li= "nb online"
            %li= "nb outdated"
            %li= "nb alert"
            %li= "language"
          .col-xs-12.col-sm-6
            %li= "nb clic / day"
            %li= "device"
      .card-footer
        = link "All offers", to: Routes.announce_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Purge offers", to: Routes.announce_path(@conn, :index), class: "btn btn-danger btn-small"

  /------------- ADDS -------------------------
  .col-xs-12.col-lg-6.my-4
    .card
      .card-header
        %h5.card-title.text-left= "Adds"
      .card-body
        .row
          .col-xs-12.col-sm-6
          .col-xs-12.col-sm-6
      .card-footer
        = link "All offers", to: Routes.announce_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Purge offers", to: Routes.announce_path(@conn, :index), class: "btn btn-danger btn-small"

  /------------- TECHNICAL -------------------------
  .col-xs-12.col-lg-6.my-4
    .card
      .card-headers
        %h5.card-title.text-left= "Technical"
      .card-body
        .row
          %h6= "google_analytics: #{Application.get_env(:boncoin, BoncoinWeb.Endpoint)[:google_analytics]}"
        .row
          %h6= "environment: #{Application.get_env(:boncoin, BoncoinWeb.Endpoint)[:environment]}"
        .row
          %h6= "website_url: #{Application.get_env(:boncoin, BoncoinWeb.Endpoint)[:website_url]}"

      .card-footer
        .viber-box.d-flex.justify-content-start.align-items-center
          = img_tag Routes.static_path(@conn, "/images/viber_icon.png"), class: "icon_viber"
          - if @conn.assigns.viber_status == "online" do
            .round.bg-success
          - else
            .round.bg-danger
        - if @conn.assigns.viber_status == "online" do
          = link "disconnect Viber", to: Routes.viber_path(@conn, :disconnect), class: "btn btn-danger btn-small"
        - else
          = link "connect Viber", to: Routes.viber_path(@conn, :connect), class: "btn btn-success btn-small"
        = link "Download logs", to: Routes.announce_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Download db", to: Routes.announce_path(@conn, :index), class: "btn btn-info btn-small"

  /------------- PARAMETERS -------------------------
  .col-xs-12.col-lg-6.my-4
    .card
      .card-header
        %h5.card-title.text-left= "Parameters"
      .card-body
        .row
      .card-footer
        = link "Divisions", to: Routes.division_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Townships", to: Routes.township_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Families", to: Routes.family_path(@conn, :index), class: "btn btn-info btn-small"
        = link "Categories", to: Routes.category_path(@conn, :index), class: "btn btn-info btn-small"
