.row
  .col-12
    .card.mb-4.bg-secondary
      .card-body.p-2
        %h5.text-white.m-0
          = gettext "Find a good-deal in more than %{nb_offers}offers", nb_offers: @nb_announces
.row.justify-content-center.my-4
  .col-xs-12.col-sm-6
    - link to: user_path(@conn, :new_user_announce), class: "btn btn-lg btn-outline-secondary text-secondary mb-4 btn-block" do
      %i.width-30.fa.fa-edit.btn-icon{}
      %span= gettext "Sell something"
    = render BoncoinWeb.LayoutView, "_cities_list.html", assigns

.row.justify-content-center
  .col-xs-12.col-sm-8.my-4
    .card.shadow.bg-white.rounded
      .card-body.text-left
        %h5.text-secondary= gettext "Presenting website"
  - unless Application.get_env(:boncoin, BoncoinWeb.Endpoint)[:google_analytics] == true do
    .col-xs-12.col-sm-8.my-4
      = img_tag(static_path(@conn, "/images/video_explain.png"))
