.row
  .col-12
    %h6.font-weight-bold.text-dark
      = gettext "Find something in more than "
      %span.text-primary= @nb_announces
      = gettext " offers"
.row.justify-content-center.my-4
  .col-xs-12.col-sm-6
    - link to: announce_path(@conn, :new), class: "btn btn-lg btn-secondary text-white mb-4 btn-block" do
      %i.fa.fa-bullhorn.btn-icon{}
      %span= gettext "Sell something"
    = render BoncoinWeb.LayoutView, "_cities_list.html", assigns

.row.justify-content-center
  .col-xs-12.col-sm-10.my-4
    %h5.text-info= gettext "Presenting website"
  .col-xs-12.col-sm-6
    = img_tag(static_path(@conn, "/images/video_explain.png"))
