.row.mt-3
  .col-12.mb-3
    %hr.d-block.d-sm-none
    %h5.text-left= LayoutView.convert_zawgyi(gettext("2. Describe your offer"))
  .col-12
    .form-group
      .btn-group.w-100{data-toggle: "buttons"}
        %label.btn.btn-outline-primary.active.radio-btn.d-inline-flex.justify-content-center.m-0.px-0
          = radio_button @a, :sell_mode, "SELL", autocomplete: "off", class: ""
          %i.fas.fa-dollar-sign.mx-2
          %span= LayoutView.convert_zawgyi(gettext("sell"))
        %label.btn.btn-outline-primary.radio-btn.d-inline-flex.justify-content-center.m-0.px-0
          = radio_button @a, :sell_mode, "RENT", autocomplete: "off", class: ""
          %i.fas.fa-clock.mx-2
          %span= LayoutView.convert_zawgyi(gettext("rent"))
        %label.btn.btn-outline-primary.radio-btn.d-inline-flex.justify-content-center.m-0.px-0{id: "gift-btn", data-toggle: "popover", tabindex: "0", data-trigger: "focus", data-placement: "bottom", data-content: "#{LayoutView.convert_zawgyi(gettext("I don't want to throw it, so I sell it for very cheap price."))}"}
          = radio_button @a, :sell_mode, "GIVE", autocomplete: "off", class: ""
          %i.fas.fa-gift.mx-2
          %span= LayoutView.convert_zawgyi(gettext("give"))
  .col-12
    .form-group
      .input-group
        .input-group-prepend
          .input-group-text.bg-transparent
            %i.fa.fa-tag
        = text_input @a, :price, class: "form-control", maxlength: "10", autocomplete: "nope", placeholder: LayoutView.convert_zawgyi(gettext("Price"))
        .input-group-append
          %button.btn.btn-form{id: "choosen_currency_text", type: "button"}= LayoutView.convert_zawgyi(gettext("Kyats"))
          %button.btn.btn-form.dropdown-toggle.dropdown-toggle-split{type: "button", data-toggle: "dropdown", aria-haspopup: "true", aria-expanded: "false"}
          .dropdown-menu
            .dropdown-item.ddown_change_currency{id: "ddown-currency-kyats"}= LayoutView.convert_zawgyi(gettext("Kyats"))
            .dropdown-item.ddown_change_currency= LayoutView.convert_zawgyi(gettext("USD"))

  .col-12
    .form-group
      %select.form-control.selectpicker{data-style: "btn-outline-form", title: LayoutView.convert_zawgyi(gettext("Select item location")), data-size: "8", id: "user_announces_0_township", name: "user[announces][0][township_id]"}
        - for division <- @conn.assigns.select_menus.divisions do
          %optgroup{label: "#{LayoutView.convert_zawgyi(division, "title")}"}
            - for township <- division.townships do
              %option{value: "#{township.id}"}= "#{LayoutView.convert_zawgyi(division, "title")}- #{LayoutView.convert_zawgyi(township, "title")}"
  .col-12
    .form-group
      %select.form-control.selectpicker{data-style: "btn-outline-form", title: LayoutView.convert_zawgyi(gettext("Select a category")), data-size: "8", id: "user_announces_0_category", name: "user[announces][0][category_id]"}
        - for family <- @conn.assigns.select_menus.familys do
          %optgroup{label: "#{LayoutView.convert_zawgyi(family, "title")}", data-icon: "mr-1 fa fa-#{family.icon}"}
            - for category <- family.categorys do
              %option{value: "#{category.id}", data-icon: "mr-1 fa fa-#{category.icon}"}= "#{LayoutView.convert_zawgyi(category, "title")}"
