= hidden_input @a, :currency, value: "Kyats"
= hidden_input @a, :language, value: Gettext.get_locale()
= hidden_input @a, :zawgyi, value: false
%hr.d-block.d-sm-none
%h5.text-left= gettext "2. Describe your offer"
.row.mt-3
  .col-12
    .form-group
      %select.form-control.selectpicker{data-style: "btn-outline-form", title: gettext("Select item location"), data-size: "8", id: "user_announces_0_township", name: "user[announces][0][township_id]"}
        - for division <- @conn.assigns.select_menus.divisions do
          %optgroup{label: "#{LayoutView.convert_zawgyi(division, "title")}"}
            - for township <- division.townships do
              %option{value: "#{township.id}"}= "#{LayoutView.convert_zawgyi(division, "title")}- #{LayoutView.convert_zawgyi(township, "title")}"
  .col-12
    .form-group
      %select.form-control.selectpicker{data-style: "btn-outline-form", title: gettext("Select a category"), data-size: "8", id: "user_announces_0_category", name: "user[announces][0][category_id]"}
        - for family <- @conn.assigns.select_menus.familys do
          %optgroup{label: "#{LayoutView.convert_zawgyi(family, "title")}", data-icon: "mr-1 fa fa-#{family.icon}"}
            - for category <- family.categorys do
              %option{value: "#{category.id}", data-icon: "mr-1 fa fa-#{category.icon}"}= "#{LayoutView.convert_zawgyi(category, "title")}"
  .col-12
    .form-group.text-left
      .input-group
        %span.input-group-prepend
          .input-group-text.bg-transparent
            %i.fa.fa-font
        = text_input @a, :title, class: "form-control", maxlength: "30", autocomplete: "nope", placeholder: gettext("Title")

  .col-12
    .form-group
      .btn-group.w-100{data-toggle: "buttons"}
        %label.btn.btn-outline-secondary.active.radio-btn.d-inline-flex.justify-content-center.m-0
          = radio_button @a, :sell_mode, "SELL", autocomplete: "off", class: ""
          %i.fas.fa-dollar-sign.mx-2
          %span= gettext("sell")
        %label.btn.btn-outline-secondary.radio-btn.d-inline-flex.justify-content-center.m-0
          = radio_button @a, :sell_mode, "RENT", autocomplete: "off", class: ""
          %i.fas.fa-clock.mx-2
          %span= gettext("rent")
        %label.btn.btn-outline-secondary.radio-btn.d-inline-flex.justify-content-center.m-0{id: "gift-btn", data-toggle: "popover", tabindex: "0", data-trigger: "focus", data-placement: "bottom", data-content: "#{gettext("I don't want to throw it, so I am ready to offer it at very cheap price.")}"}
          = radio_button @a, :sell_mode, "GIVE", autocomplete: "off", class: ""
          %i.fas.fa-gift.mx-2
          %span= gettext("give")

  .col-12
    .form-group
      .input-group
        .input-group-prepend
          .input-group-text.bg-transparent
            %i.fa.fa-tag
        = text_input @a, :price, class: "form-control", maxlength: "10", autocomplete: "nope", placeholder: gettext("Price")
        .input-group-append
          %button.btn.btn-form{id: "choosen_currency_text", type: "button"}= gettext("Kyats")
          %button.btn.btn-form.dropdown-toggle.dropdown-toggle-split{type: "button", data-toggle: "dropdown", aria-haspopup: "true", aria-expanded: "false"}
          .dropdown-menu
            .dropdown-item.ddown_change_currency{id: "ddown-currency-kyats"}= gettext("Kyats")
            .dropdown-item.ddown_change_currency= gettext("Lacks")
            .dropdown-item.ddown_change_currency= gettext("USD")
