.col-12.big-announce.d-none.p-0.p-sm-3{id: "big_announce_#{@announce.id}", name: "big_announce_#{@announce.id}"}
  .card.card-offer.shadow.bg-white.rounded.mb-3
    %a.btn-close.m-2{data-announce-id: "#{@announce.id}", href: "#"}
      %i.far.fa-times-circle.text-secondary
    .card-body.pb-0
      .row.mx-3
        -# Images carousel (on left for big devices)
        = render "_carousel.html", assigns
        .col-xs-12.col-sm-6.mt-3.mt-sm-0
          -# Offer header
          .d-flex.flex-column.justify-content-center.mb-3
            %h6.font-weight-bold.text-secondary.m-0= @announce.title
            %h6.font-weight-bold.text-success.mt-1
              = BoncoinWeb.AnnounceView.show_price(@announce.price, @announce.currency)
            %p.m-0= gettext("Sold by%{seller_name}", seller_name: @announce.user.nickname)
            %p.m-0= gettext("in %{township}, %{division}", township: LayoutView.convert_zawgyi(@announce.township, "title"), division: LayoutView.convert_zawgyi(@announce.township.division, "title"))
          -# Description of offer
          .justify-content-top.flex-grow-1.text-area.text-left
            %p= @announce.description
          -# Actions for big devices
          .d-none.d-sm-block.mb-3
            = render "_actions.html", assigns

        -# Actions fot small devices
        .col-xs-12.d-sm-none.w-100.mb-3
          = render "_actions.html", assigns
