- if @announce.status in ["PENDING"] do
  .col-xs-12.col-sm-3.my-3
    - link to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: true, cause: "ACCEPTED", category_id: "#{@announce.category_id}") do
      .btn.btn-success.btn-lg.btn-block
        = "Accept"
  .col-xs-12.col-sm-3.my-3
    - link to: "#" do
      .btn.btn-danger.btn-lg.btn-block{data-toggle: "collapse", href: "#refuseMenu"}
        = "Refuse"
- if @announce.status in ["PENDING", "ONLINE"]  do
  .col-xs-12.col-sm-3.my-3
    - link to: "#" do
      .btn.btn-info.btn-lg.btn-block{data-toggle: "collapse", href: "#moveMenu"}
        = "Move"
- if @announce.status in ["ONLINE"]  do
  .col-xs-12.col-sm-3.my-3
    - link to: root_path(@conn, :welcome) do
      .btn.btn-warning.btn-lg.btn-block.disabled
        = "Remove alerts"
  .col-xs-12.col-sm-3.my-3
    - link to: "#" do
      .btn.btn-danger.btn-lg.btn-block{data-toggle: "collapse", href: "#closeMenu"}
        = "Close"

.accordion{id: "reasons"}
  .row.collapse{id: "moveMenu", data-parent: "#reasons"}
    .col.d-flex.justify-content-center
      .card.admin.my-3
        .card-body
          .row
            - for family <- @conn.assigns.select_menus.familys do
              .col-xs-12.col-sm-4.flex-column.justify-content-center
                %h6.card-title= family.title_en
                - for category <- family.categorys do
                  = link "Move to #{category.title_en}", to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: true, cause: "MOVED", category_id: "#{category.id}"), class: "btn btn-lg btn-block m-2 btn-outline-info"
                %hr

  .row.collapse{id: "refuseMenu", data-parent: "#reasons"}
    .col.d-flex.justify-content-center
      .card.admin.my-3
        .card-body
          .row
            - for cause <- @conn.assigns.refusal_causes do
              .col-xs-12.col-sm-4.flex-column.justify-content-center
                = link "#{cause.title_en}", to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: false, cause: "#{cause.label}", category_id: "#{@announce.category_id}"), class: "btn btn-lg btn-block m-2 #{cause.btn_color}"

  .row.collapse{id: "closeMenu", data-parent: "#reasons"}
    .col.d-flex.justify-content-center
      .card.admin.my-3
        .card-body
          .row
            - for cause <- @conn.assigns.closing_causes do
              .col-xs-12.col-sm-4.flex-column.justify-content-center
                = link "#{cause.title_en}", to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: false, cause: "#{cause.label}", category_id: "#{@announce.category_id}"), class: "btn btn-lg btn-block m-2 #{cause.btn_color}"
