%span.font-weight-light
  = String.slice(@phone_number, 0..1)
  = " "
  = String.slice(@phone_number, 2..4)
  = " "
  = String.slice(@phone_number, 5..7)
  = " "
  = String.slice(@phone_number, 8..10)
