.modal.fade{id: "modal_offer_#{@announce.id}", data-offer-id: "#{@announce.id}", tabindex: "-1", role: "dialog", aria-hidden: "true", body-scroll-lock-ignore: true}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.flex-column.p-0
        %button.close{type: "button", data-dismiss: "modal", aria-label: "Close"}
          %span{aria-hidden: "true"}= "X"
        = render "_public_carousel.html", assigns
        = render "_titles.html", assigns

      .modal-body.p-3
        = render "_description.html", assigns

      .modal-footer{id: "footer_btn_#{@announce.id}"}
        %button.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.btn-show-contact{type: "button", data-offer-id: "#{@announce.id}"}
          %i.fas.fa-user
          %span= LayoutView.convert_zawgyi(gettext("See contact"))
      .modal-footer.d-none{id: "footer_contact_#{@announce.id}"}
        - if @announce.user.viber_number == nil do
          %a.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.copy-number{href: "tel:#{@announce.user.phone_number}"}
            %i.fa.fa-phone
            %span= LayoutView.show_phone_number(@announce.user.phone_number)
            %i.fa.fa-copy.bg-success.text-white.btn-copy-number.btn-icon-right
        - else
          .row
            .col-xs-12.col-sm-6.my-1
              %a.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.copy-number{href: "tel:#{@announce.user.phone_number}"}
                %i.fa.fa-phone
                %span= LayoutView.show_phone_number(@announce.user.phone_number)
                %i.fa.fa-copy.bg-success.text-white.btn-copy-number.btn-icon-right
            .col-xs-12.col-sm-6.my-1
              - if Browser.mobile?(@conn) do
                -# Show the button to open Viber conversation
                %a.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.btn-viber{href: "viber://contact?number=%2B95#{String.slice(@announce.user.viber_number, 1..10)}"}
                  %i.fab.fa-viber
                  %span= LayoutView.show_phone_number(@announce.user.viber_number)
              - else
                -# Show the Viber number
                %button.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.btn-viber
                  %i.fab.fa-viber
                  %span= LayoutView.show_phone_number(@announce.user.viber_number)
                  -# %i.fa.fa-copy.bg-success.text-white.btn-copy-number.btn-icon-right
