.modal{id: "modal_offer_#{@announce.id}", data-offer-id: "#{@announce.id}", tabindex: "-1", role: "dialog", aria-hidden: "true"}
  .modal-dialog.modal-full{role: "document"}
    .modal-content.border-0
      .modal-header.flex-column.p-0
        %button.close{type: "button", data-dismiss: "modal", aria-label: "Close"}
          %span{aria-hidden: "true"}= "X"
        = render "_public_carousel.html", assigns
        = render "_titles.html", assigns

      .modal-body.p-3
        = render "_description.html", assigns

      .modal-footer{id: "footer_btn_#{@announce.id}"}
        %button.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.btn-show-contact{type: "button", data-offer-id: "#{@announce.id}"}
          %i.fas.fa-user
          %span= LayoutView.convert_zawgyi(gettext("See contact"))
      .modal-footer.d-none{id: "footer_contact_#{@announce.id}"}
        %button.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.copy-number{data-phone-number: "#{@announce.user.phone_number}"}
          %i.fa.fa-phone
          %span= LayoutView.show_phone_number(@announce.user.phone_number)
          -# %span= render "_phone_number.html", phone_number: @announce.user.phone_number
          %i.fa.fa-copy.bg-success.text-white.btn-copy-number.btn-icon-right

        - if @announce.user.viber_number != nil do
          -# Show the button to open Viber conversation
          - if Browser.mobile?(@conn) do
            %a.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.btn-viber{href: "viber://contact?number=%2B#{LayoutView.show_viber_number(@announce.user.viber_number)}"}
              %i.fab.fa-viber
              %span= LayoutView.show_viber_number(@announce.user.viber_number)
              -# %span= render "_phone_number.html", phone_number: LayoutView.show_viber_number(@announce.user.viber_number)
          - else
            %button.btn.btn-block.btn-primary.d-flex.flex-column.justify-content-center.align-items-center.my-0.btn-viber
              %i.fab.fa-viber
              %span= LayoutView.show_viber_number(@announce.user.viber_number)
              -# = render "_phone_number.html", phone_number: LayoutView.show_viber_number(@announce.user.viber_number)
              -# %i.fa.fa-copy.bg-success.text-white.btn-copy-number.btn-icon-right
