.row
  .col-12
    %hr.d-block.d-sm-none
    %h5.text-left= LayoutView.convert_zawgyi(gettext("3. Show some photos"))
    %p.text-left.mt-2= LayoutView.convert_zawgyi(gettext("Please select 1, 2, or 3 photos to show the object and its condition."))
    -# %h3= "thanks to https://pqina.nl/slim/#docs"
  .col-12
    .row.m-0
      .col-xs-12.col-sm-4.p-1
        %fieldset.form-group.m-3.mx-sm-0
          %input.form-control.slim{id: "user_announces_0_image_file_1", name: "user[announces][0][image_file_1]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "3:2", data-size: "600,400", data-min-size: "600,400", data-instant-edit: "true", data-label="#{LayoutView.convert_zawgyi(gettext("Photo 1"))}", data-label-loading="Loading"}
      .col-xs-12.col-sm-4.p-1
        %fieldset.form-group.m-3.mx-sm-0
          %input.form-control.slim{id: "user_announces_0_image_file_2", name: "user[announces][0][image_file_2]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "3:2", data-size: "600,400", data-min-size: "600,400", data-instant-edit: "true", data-label="#{LayoutView.convert_zawgyi(gettext("Photo 2"))}", data-label-loading="Loading"}
      .col-xs-12.col-sm-4.p-1
        %fieldset.form-group.m-3.mx-sm-0
          %input.form-control.slim{id: "user_announces_0_image_file_3", name: "user[announces][0][image_file_3]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "3:2", data-size: "600,400", data-min-size: "600,400", data-instant-edit: "true", data-label="#{LayoutView.convert_zawgyi(gettext("Photo 3"))}", data-label-loading="Loading"}
