.card-header
  .row
    .col-xs-12.col-sm-6.flex-column.text-left
      -# .d-flex.align-items-center
      = btn_status(@announce.status)
      -# %h6.mr-3= "Offer #{@announce.id}"

    .col-xs-12.col-sm-6.flex-column.align-items-center.text-right
      %p.m-0.p-0= @announce.user.nickname
      %p.m-0.p-0= "#{@announce.township.title_en}, #{@announce.township.division.title_en}"
      %p.m-0.p-0= "#{@announce.category.title_en}, #{@announce.category.family.title_en}"
      -# = @announce.user.viber_active
      -# = LayoutView.icon_active(@announce.user.viber_active)
.card-body.card-offer
  .row
    .col-xs-12.col-sm-4
      - for image <- @announce.images do
        = img_tag BoncoinWeb.AnnounceView.image_url(image, :original)
    .col-xs-12.col-sm-8
      %h6.card-title= @announce.title
      %p.m-0.p-0= LayoutView.show_inline_price(@announce.price, @announce.currency)
      %p.description.text-left.my-3= @announce.description
