- form_for @changeset, @action, fn f ->
  = hidden_input f, :currency, value: "Kyats"
  - if @changeset.action do
    .alert.alert-danger
      %p= "Oops, something went wrong! Please check the errors below."

  %hr
  %h5.mb-4.text-left= "What are your details ?"

  .row.justify-content-center.justify-content-lg-start
    .col-12
      .form-group.text-left.m-0
        .input-group
          %span.input-group-prepend
            .input-group-text.bg-transparent
              %i.fa.fa-phone
          = text_input f, :phone_number, class: "form-control", autocomplete: "nope", placeholder: "Phone number"
        %small.form-text.text-muted= "Myanmar mobile phone number (09000000000)"
        = error_tag f, :phone_number

  .row.justify-content-center
    -# .collapse.collapsible_form
    .col.col-xs-12.col-sm-8
      - link to: "https://viber.me/<pawchaungkaung_en>", class: "btn btn-block btn-viber my-4", target: "_blank" do
        .row.no-gutters.align-items-center
          .col-10
            %span{style: "white-space: normal;"}= "Link this number to a Viber account"
          .col-2
            = img_tag static_path(@conn, "/images/viber_icon.png"), class: "btn-icon", id: "viber_icon_full"

  .row.justify-content-center.justify-content-lg-start
    .col-12
      .form-group.text-left
        .input-group
          %span.input-group-prepend
            .input-group-text.bg-transparent
              %i.fa.fa-user
          = text_input f, :nickname, class: "form-control", autocomplete: "nope", placeholder: "Name or nickname"
        = error_tag f, :nickname

    .col-12
      .form-group.text-left
        .input-group
          %span.input-group-prepend
            .input-group-text.bg-transparent
              %i.fa.fa-envelope
          = text_input f, :email, class: "form-control", type: "email", autocomplete: "nope", placeholder: "Email (optional)"
        = error_tag f, :email

    .col-12
      .form-group
        .form-group.text-left
          .input-group
            %span.input-group-prepend
              .input-group-text.bg-transparent
                %i.fa.fa-unlock-alt
            = text_input f, :password, class: "form-control", type: "password", autocomplete: "nope", placeholder: "Password (for registered users )"
        = error_tag f, :password

  %hr
  %h5.mb-4.collapse.collapsible_form.text-left= "What are you selling ?"

  .row.justify-content-center.justify-content-lg-start.collapse.collapsible_form
    .col-xs-12.col-sm-8.col-lg-4.offset-lg-4
      .form-group
        %select.form-control.selectpicker{data-style: "btn-outline-dark", title: "Select item location", data-size: "8", id: "announce_location", name: "announce[location]"}
          - for division <- @conn.assigns.divisions do
            %optgroup{label: "#{division.title_en}", data-icon: "fa fa-map-marker"}
              - for township <- division.townships do
                %option{value: "#{township.id}"}= "#{division.title_en}- #{township.title_en}"

    .col-xs-12.col-sm-8.col-lg-4.offset-lg-4
      .form-group
        %select.form-control.selectpicker{data-style: "btn-outline-dark", title: "Select a category", data-size: "8", id: "announce_category", name: "announce[category]"}
          - for family <- @conn.assigns.familys do
            %optgroup{label: "#{family.title_en}", data-icon: "fa fa-#{family.icon}"}
              - for category <- family.categorys do
                %option{value: "#{category.id}", data-icon: "fa fa-#{category.icon}"}= "#{category.title_en}"

    .col-12
      .form-group
        .form-group.text-left
          .input-group
            %span.input-group-prepend
              .input-group-text.bg-transparent
                %i.fa.fa-font
            = text_input f, :title, class: "form-control", autocomplete: "nope", placeholder: "Title"
        = error_tag f, :title

    .col-12
      .form-group
        .input-group
          .input-group-prepend
            .input-group-text.bg-transparent
              %i.fa.fa-thumbs-up
          = text_input f, :price, class: "form-control", autocomplete: "nope", placeholder: "Price"
          .input-group-append
            %span.input-group-text
              =".00"
            .input-group-text{id: "choosen_currency_text"}
              = "Kyats"
            %button.btn.dropdown-toggle.custo-form-selector{data-toggle: "dropdown", aria-haspopup: "true", aria-expanded: "false"}
            .dropdown-menu
              .dropdown-item.ddown_change_currency= "Kyats"
              .dropdown-item.ddown_change_currency= "Lacks"
              .dropdown-item.ddown_change_currency= "USD"
        = error_tag f, :price

    .col-12
      .form-group
        .input-group
          %span.input-group-prepend
            .input-group-text.bg-transparent
              %i.fa.fa-edit
          = textarea f, :description, class: "form-control", rows: "10", autocomplete: "nope", placeholder: "Description (size, dimensions, condition, scratches, date of buy, ...)"
        = error_tag f, :description

  .row.collapse.collapsible_form
    .col-12
      %p.text-left= "Please select 1, 2, or 3 photos to show the object and its condition (good or used)."
      -# %h3= "thanks to https://pqina.nl/slim/#docs"
    .col-12
      .row
        .col-4
          %fieldset.form-group
            -# = "test"
            %input.form-control.slim{id: "picture_1", name: "announce[photo1]", type: "file", data-ratio: "1:1", data-size: "320,320", data-min-size: "150,150", data-instant-edit: "true", data-label: "Photo 1"}
        .col-4
          %fieldset.form-group
            -# = "test"
            %input.form-control.slim{id: "picture_2", name: "announce[photo2]", type: "file", data-ratio: "1:1", data-size: "320,320", data-min-size: "150,150", data-instant-edit: "true", data-label: "Photo 2"}
        .col-4
          %fieldset.form-group
            -# = "test"
            %input.form-control.slim{id: "picture_3", name: "announce[photo3]", type: "file", data-ratio: "1:1", data-size: "320,320", data-min-size: "150,150", data-instant-edit: "true", data-label: "Photo 3"}


    .col-12
      .form-group.form-check
        =# label f, :conditions, class: "form-check-label"
        = checkbox f, :conditions, class: "form-check-input"
        = error_tag f, :conditions
  .row.collapse.collapsible_form
    .col-12
      .form-group
        = submit "Submit", class: "btn btn-primary"
