- form_for @changeset, @action, [{:multipart, true}], fn f ->
  = hidden_input f, :currency, value: "Kyats"
  = hidden_input f, :user_id, value: ""
  = hidden_input f, :zawgyi, value: false
  - if @changeset.action do
    .alert.alert-danger
      %p= "Oops, something went wrong! Please check the errors below."

  .row
    .col-xs-12.col-sm-6
      -# %hr
      %h5.text-left= gettext "1. What are your details ?"

      .row.text-left.my-4
        .col-9.pr-0
          .input-group
            %span.input-group-prepend
              .input-group-text.bg-transparent
                %i.fa.fa-phone
            = text_input f, :phone_number, class: "form-control", autocomplete: "nope", placeholder: gettext("Main phone number")
          %small.form-text.text-muted= gettext "Myanmar mobile only (09000000000)"
          = error_tag f, :phone_number
        .col-3.text-right
          %button.btn.btn-primary{id: "btn_check_number", drab-click: "read_user_details", data-item-id: ""}= "OK"

      .row.text-left.my-4.collapse.collapsible_form
        .col-12
          .row.no-gutters{id: "field-viber"}
            .col-9.pr-0.d-flex.align-items-center
              = img_tag static_path(@conn, "/images/viber_icon.png"), class: "btn-icon"
              %p.m-0.ml-2= gettext "This number is linked to Viber"
            .col-3.text-right.d-flex.align-items-center.justify-content-end
              %button.btn.btn-info.btn-sm.d-flex.align-items-center{id: "btn_unlink_number", drab-click: "remove_viber", data-item-id: ""}
                -# - link to: "#", id: "btn-unlink_viber", class: "btn btn-info btn-sm d-flex align-items-center text-right" do
                = gettext("unlink")
                %i.fa.fa-unlink.ml-1
              -# .input-group
              -#   %p.small.form-text.text-muted= gettext "You will receive notifications"
          -# .form-group{id: "field-viber"}
          -#   .input-group
          -#     %span.input-group-prepend
          -#       .input-group-text.bg-transparent
          -#         = img_tag static_path(@conn, "/images/viber_icon.png"), class: "img-icon"
          -#     %span{style: "white-space: normal;"}= gettext "This number is linked to Viber"
          -#     -# %input.form-control.disabled.bg-white{type: "text", id: "disabledTextInput", placeholder: gettext("dde"), readonly}
          -#   %small.form-text.text-muted= gettext "You will receive notifications"

          - link to: "https://viber.me/<pawchaungkaung_en>", id: "btn-viber", class: "btn btn-block", target: "_blank" do
            .row.no-gutters.align-items-center
              .col-2
                = img_tag static_path(@conn, "/images/viber_icon.png"), class: "btn-icon"
              .col-10
                %span{style: "white-space: normal;"}= gettext "Link this number to Viber"

      .row.text-left.my-4.collapse.collapsible_form
        .col-12
          .form-group
            .input-group
              %span.input-group-prepend
                .input-group-text.bg-transparent
                  %i.fa.fa-user
              = text_input f, :nickname, class: "form-control", autocomplete: "nope", placeholder: gettext("Name or nickname")
            = error_tag f, :nickname

        .col-12
          .form-group.text-left
            .input-group
              %span.input-group-prepend
                .input-group-text.bg-transparent
                  %i.fa.fa-envelope
              = text_input f, :email, class: "form-control", type: "email", autocomplete: "nope", placeholder: gettext("Email (optional)")
            = error_tag f, :email

        .col-12
          .form-group{id: "field-password"}
            .form-group.text-left
              .input-group
                %span.input-group-prepend
                  .input-group-text.bg-transparent
                    %i.fa.fa-unlock-alt
                = text_input f, :password, class: "form-control", type: "password", autocomplete: "nope", placeholder: gettext("Password")
            = error_tag f, :password

    .col-xs-12.col-sm-6
      -# %hr
      %h5.text-left.collapse.collapsible_form= gettext "2. What are you selling ?"

      .row.collapse.mt-4.collapsible_form
        .col-12
          .form-group
            %select.form-control.selectpicker{data-style: "btn-outline-dark", title: gettext("Select item location"), data-size: "8", id: "announce_township", name: "announce[township_id]"}
              - for division <- @conn.assigns.select_menus.divisions do
                %optgroup{label: "#{division.title_en}", data-icon: "fa fa-map-marker"}
                  - for township <- division.townships do
                    %option{value: "#{township.id}"}= "#{division.title_en}- #{township.title_en}"
        .col-12
          .form-group
            %select.form-control.selectpicker{data-style: "btn-outline-dark", title: gettext("Select a category"), data-size: "8", id: "announce_category", name: "announce[category_id]"}
              - for family <- @conn.assigns.select_menus.familys do
                %optgroup{label: "#{family.title_en}", data-icon: "fa fa-#{family.icon}"}
                  - for category <- family.categorys do
                    %option{value: "#{category.id}", data-icon: "fa fa-#{category.icon}"}= "#{category.title_en}"
        .col-12
          .form-group
            .form-group.text-left
              .input-group
                %span.input-group-prepend
                  .input-group-text.bg-transparent
                    %i.fa.fa-font
                = text_input f, :title, class: "form-control", autocomplete: "nope", placeholder: gettext("Title")
            = error_tag f, :title
        .col-12
          .form-group
            .input-group
              .input-group-prepend
                .input-group-text.bg-transparent
                  %i.fa.fa-thumbs-up
              = text_input f, :price, class: "form-control", autocomplete: "nope", placeholder: gettext("Price")
              .input-group-append
                -# %span.input-group-text
                -#   =".00"
                .input-group-text{id: "choosen_currency_text"}
                  = gettext("Kyats")
                %button.btn.dropdown-toggle.custo-form-selector{data-toggle: "dropdown", aria-haspopup: "true", aria-expanded: "false"}
                .dropdown-menu
                  .dropdown-item.ddown_change_currency= "Kyats"
                  .dropdown-item.ddown_change_currency= "Lacks"
                  .dropdown-item.ddown_change_currency= "USD"
            = error_tag f, :price
        .col-12
          .form-group
            .input-group
              %span.input-group-prepend
                .input-group-text.bg-transparent
                  %i.fa.fa-edit
              = textarea f, :description, class: "form-control", rows: "10", autocomplete: "nope", placeholder: gettext("Description (size, dimensions, condition, scratches, date of buy, ...)")
            = error_tag f, :description

  .row.collapse.collapsible_form
    .col-12
      %h5.text-left= gettext("3. Show some photos")
      %p.text-left= gettext "Please select 1, 2, or 3 photos to show the object and its condition (good or used)."
      -# %h3= "thanks to https://pqina.nl/slim/#docs"
    .col-12
      .row
        .col-4
          %fieldset.form-group
            %input.form-control.slim{id: "image_file_1", name: "announce[image_file_1]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "1:1", data-size: "600,600", data-min-size: "300,300", data-instant-edit: "true"}
        .col-4
          %fieldset.form-group
            %input.form-control.slim{id: "image_file_2", name: "announce[image_file_2]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "1:1", data-size: "600,600", data-min-size: "300,300", data-instant-edit: "true"}
        .col-4
          %fieldset.form-group
            %input.form-control.slim{id: "image_file_3", name: "announce[image_file_3]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "1:1", data-size: "600,600", data-min-size: "300,300", data-instant-edit: "true"}


    .col-12.my-2
      .form-group.form-check
        %label.form-check-label
          = checkbox f, :conditions, class: "form-check-input", type: "radio"
          = gettext "I understand and agree to conditions"
        = error_tag f, :conditions
  .row.collapse.collapsible_form
    .col-12
      .form-group
        = submit gettext("Submit this offer"), class: "btn btn-primary btn-lg"
