.card.mb-4.info
  .card-body.text-left
    %p= gettext "Please note that your are acting on your own..."
    %p.m-0
      = gettext "For more details please read our"
      - link to: main_path(@conn, :conditions), target: "_blank" do
        %span.text-primary.font-weight-bold= gettext "terms and conditions."
      = gettext "For more details... (burmese end)"


= render "form.html", Map.put(assigns, :action, announce_path(@conn, :create))
