.row
  .col-12
    %h6.font-weight-bold.text-dark
      = LayoutView.convert_zawgyi(@conn.assigns.search_titles.searched_place, "title")
    %h6.font-weight-bold.text-dark
      -# = " - "
      - if @conn.assigns.search_titles.searched_arbo.title_en == "" do
        = gettext("%{nb_offers}offers found", nb_offers: @conn.assigns.nb_offers_found)
      - else
        = gettext("%{nb_offers}offers found for %{arbo_searched}", nb_offers: @conn.assigns.nb_offers_found, arbo_searched: LayoutView.convert_zawgyi(@conn.assigns.search_titles.searched_arbo, "title"))

    %p.text-primary.font-italic= gettext "Please meet the seller and try the product before giving any money"

.row{id: "offers-results"}
  - for announce <- @announces do
    = render BoncoinWeb.AnnounceView, "_display_small.html", announce: announce
    = render BoncoinWeb.AnnounceView, "_display_big.html", announce: announce

- unless @conn.assigns.cursor_after == nil do
  .row
    .col-12.my-3
      - link to: "#", class: "btn btn-lg btn-info text-white", id: "btn-more-offers" do
        %i.fas.fa-arrow-alt-circle-down.btn-icon.spinner-static
        %span= gettext "More offers"
      - link to: "#", class: "btn btn-lg btn-info text-white d-none", id: "btn-more-offers-wait" do
        %i.fa.fa-sync.fa-spin.btn-icon.spinner-dynamic
        %span= gettext "More offers"

%div{id: "config", data-api: "#{@conn.assigns.api_key}", data-cursor-after: "#{@conn.assigns.cursor_after}", data-search-params: "#{Poison.encode!(@conn.assigns.search_params)}"}
