.row
  .col-12
    .card.mb-4.bg-secondary
      .card-body
        %h5.font-weight-bold.text-white
          - if @conn.assigns.search_titles.searched_arbo.title_en == "" do
            -# Search by place only
            = gettext("%{nb_offers}offers found in%{place_searched}", nb_offers: @conn.assigns.nb_offers_found, place_searched: LayoutView.convert_zawgyi(@conn.assigns.search_titles.searched_place, "title"))
          - else
            -# Search by place and arbo
            = gettext("%{nb_offers}offers found for%{arbo_searched}in%{place_searched}", nb_offers: @conn.assigns.nb_offers_found, arbo_searched: LayoutView.convert_zawgyi(@conn.assigns.search_titles.searched_arbo, "title"), place_searched: LayoutView.convert_zawgyi(@conn.assigns.search_titles.searched_place, "title"))
        %h6.text-white.mb-0= gettext "Please meet the seller and try the product before giving any money"

.row{id: "offers-results"}
  - for announce <- @announces do
    = render BoncoinWeb.AnnounceView, "_display_small.html", announce: announce, conn: @conn
    = render BoncoinWeb.AnnounceView, "_display_big.html", announce: announce, conn: @conn
  - if @announces == [] do
    .col-xs-12.col-sm-8.offset-sm-2.mt-5
      .card
        .card-body
          %h4.text-secondary= gettext "Sorry, we don't have any offer for your search."
          .btn.bg-secondary.my-3.mw-100.text-white
            = gettext "Please change your filters or search in another city !"

- unless @conn.assigns.cursor_after == nil do
  .row
    .col-12.my-3
      - link to: "#", class: "btn btn-lg btn-info text-white", id: "btn-more-offers" do
        %i.fas.fa-arrow-alt-circle-down.btn-icon.spinner-static
        %span= gettext "More offers"
      - link to: "#", class: "btn btn-lg btn-info text-white d-none", id: "btn-more-offers-wait" do
        %i.fa.fa-sync.fa-spin.btn-icon.spinner-dynamic
        %span= gettext "More offers"

%div{id: "config", data-api: "#{@conn.assigns.api_key}", data-cursor-after: "#{@conn.assigns.cursor_after}", data-search-params: "#{Poison.encode!(@conn.assigns.search_params)}"}
