.row
  .col.d-flex.justify-content-center
    .card.admin.my-3
      = render "_show_details.html", assigns
      .card-footer
        .row
          - if @announce.status in ["PENDING"] do
            .col-xs-12.col-sm-3
              - link to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: true, cause: "accepted", category_id: "#{@announce.category_id}") do
                .btn.btn-success.btn-lg.btn-block.my-2
                  = "Accept"
          - if @announce.status in ["PENDING", "ONLINE"]  do
            .col-xs-12.col-sm-3
              - link to: "#" do
                .btn.btn-info.btn-lg.btn-block.dropdown-toggle.my-2{data-toggle: "collapse", href: "#moveMenu"}
                  = "Move"
            .col-xs-12.col-sm-3
              - link to: root_path(@conn, :welcome) do
                .btn.btn-warning.btn-lg.btn-block.my-2
                  = "Alerts"
            .col-xs-12.col-sm-3
              - link to: "#" do
                .btn.btn-danger.btn-lg.btn-block.dropdown-toggle.my-2{data-toggle: "collapse", href: "#refuseMenu"}
                  = "Refuse"

.row.collapse{id: "moveMenu"}
  .col.d-flex.justify-content-center
    .card.admin.my-3
      .card-body
        .row
          - for family <- @conn.assigns.select_menus.familys do
            .col-xs-12.col-sm-4.flex-column.justify-content-center
              %h6.card-title= family.title_en
              - for category <- family.categorys do
                = link "Move to #{category.title_en}", to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: true, cause: "moved", category_id: "#{category.id}"), class: "btn btn-outline-info m-2"
              %hr

.row.collapse{id: "refuseMenu"}
  .col.d-flex.justify-content-center
    .card.admin.my-3
      .card-body
        .row
          - for cause <- @refusal_causes do
            .col-xs-12.col-sm-4.flex-column.justify-content-center
              = link "#{cause.title}", to: announce_path(@conn, :treat, announce_id: "#{@announce.id}", validate: false, cause: "#{cause.label}", category_id: "#{@announce.category_id}"), class: "btn btn-outline-danger m-2"
