.card
  .card-header
    = render "_public_carousel.html", assigns
    = render "_titles.html", assigns
  .card-body.p-3
    = render "_description.html", assigns
  .card-footer
    = render "_user_footer_infos.html", assigns
  .card-footer
    = render "_user_footer_actions.html", assigns
