-# Small devices
.col-12.d-sm-none.my-1
  -# %a.btn-small-announce{id: "small_announce_#{@announce.id}", data-announce-id: "#{@announce.id}", name: "small_announce_#{@announce.id}", href: "#"}
  .card.shadow.bg-white.rounded
    .card-body.p-0
      .col-12.p-0
        = img_tag(Routes.static_path(@conn, "/images/pubs/test_pub_big.png"))

-# Big devices
.col-12.d-none.d-sm-block.my-1
  -# %a.btn-small-announce{id: "small_announce_#{@announce.id}", data-announce-id: "#{@announce.id}", name: "small_announce_#{@announce.id}", href: "#"}
  .card.shadow.bg-white.rounded
    .card-body.p-0
      .col-12.p-0
        = img_tag(Routes.static_path(@conn, "/images/pubs/test_pub_xxl.png"))
